@-webkit-keyframes enterLeft2Right {
  0%   { -webkit-transform:translate3d(-100%,0,0); }
  100% { -webkit-transform:translate3d(0,0,0); }
}
@-webkit-keyframes enterBottom2Top {
  0%   { -webkit-transform:translate3d(0,100%,0); }
  100% { -webkit-transform:translate3d(0,0,0); }
}
@-webkit-keyframes leaveTop2Bottom {
  0%   { -webkit-transform:translate3d(0,0,0); }
  100% { -webkit-transform:translate3d(0,100%,0); }
}
@-webkit-keyframes leaveRight2Left {
  0% { -webkit-transform:translate3d(0,0,0); }
  100%   { -webkit-transform:translate3d(-100%,0,0); }
}
@-webkit-keyframes enterRight2Left {
  0%   { -webkit-transform:translate3d(100%,0,0); }
  100% { -webkit-transform:translate3d(0,0,0); }
}
@-webkit-keyframes leaveLeft2Right {
  0% { -webkit-transform:translate3d(0,0,0); }
  100%   { -webkit-transform:translate3d(100%,0,0); }
}
.pageViewPort:first-child{z-index:2;}
.pageViewPort:last-child{z-index:1;}
.slideLeft.ng-enter{-webkit-animation:  enterRight2Left 400ms cubic-bezier(.10, .70, .10, 1);}
.slideLeft.ng-leave{-webkit-animation:  leaveRight2Left 400ms cubic-bezier(.10, .70, .10, 1);}
.slideRight.ng-enter{-webkit-animation: enterLeft2Right 400ms cubic-bezier(.10, .70, .10, 1);}
.slideRight.ng-leave{-webkit-animation: leaveLeft2Right 400ms cubic-bezier(.10, .70, .10, 1);}
.slideLeft.ng-leave .iscroll-scrollbar,
.slideLeft.ng-enter .iscroll-scrollbar,
.slideRight.ng-leave .iscroll-scrollbar,
.slideRight.ng-enter .iscroll-scrollbar{
	display:none;
}
.iscroll-scroller{min-height:100%;}
