/* extend ionic style */
ion-nav-view {background-color: white !important;}
.x-has-tabs-footer{bottom:49px;}
.x-item-input {
  position: relative; }
  .x-item-input input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    top: 8px;
    right: 0;
    padding: 0;
    margin: 0;
    max-width: 200px;
	height:30px;
    border: none;
    background: #fff;
    color: #333;
    text-indent: 0.01px;
    text-overflow: '';
    white-space: nowrap;
    font-size: 14px;
    cursor: pointer;
    direction: rtl; }
  .x-item-input input[type='text'] {
	padding-right:16px;
    }
  .x-item-input input[type='date'] {
	opacity:0;
    }

/* private style */
.publish-event{
	margin-top:44px;
}
.home-content{
	top:111px; /*44px header + 57px button + 10 margin*/
}
