<!DOCTYPE html>
html
  head
    meta(charset="utf-8")
    meta(name="description", content="Project description")
    meta(name="HandheldFriendly", content="True")
    meta(name="viewport", content="width=device-width,initial-scale=1,minimum-scale=1, maximum-scale=1, user-scalable=no")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style",content="black")
    title Project Title
    block firsthead
    script(type="text/cs-data" id="profile").
      <?cs var:Page.data ?>
    block lasthead
  body(ng-app="app")
    ion-nav-bar.bar-positive.nav-title-slide-ios7
      ion-nav-back-button.button-icon.ion-arrow-left-c
    ion-nav-view
    div.tabs.tabs-icon-top.tabs-positive
      a.tab-item(href="#/home/")
        i.icon.ion-home
        | 帖子
      a.tab-item(href="#/feeds")
        i.icon.ion-star
        | 消息
    block content
  block footer
  <!--lastupdate #{lastupdate}-->
