<ion-view title="详情">
	<ion-content bindonce="wishPromise">
		<ion-slide-box>
			<ion-slide>
				<div class="box x-box-center detail-pic-slide">
					<img width="100" height="100" src="http://img1.gtimg.com/11/1119/111921/11192162_640x640_0.png"></img>
				</div>
			</ion-slide>
			<ion-slide>
				<div class="box x-box-center detail-pic-slide">
					<img width="100" height="100" src="http://img1.gtimg.com/11/1119/111921/11192170_640x640_0.png"></img>
				</div>
			</ion-slide>
			<ion-slide>
				<div class="box x-box-center detail-pic-slide">
					<img width="100" height="100" src="http://img1.gtimg.com/11/1119/111921/11192157_640x640_0.png"></img>
				</div>
			</ion-slide>
		</ion-slide-box>
		<div class="list">

		<a class="item item-icon-left" href="javascript:void(0);">
			<i class="icon ion-clock"></i>
			时间
			<span class="item-note" bo-bind="wish.time">
			</span>
		</a>
	
		<a class="item item-icon-left" href="javascript:void(0);">
			<i class="icon ion-map"></i>
			地点
			<span class="item-note" bo-bind="wish.location_addr">
			</span>
		</a>

		<a class="item item-icon-left" href="javascript:void(0);">
			<i class="icon ion-pricetags"></i>
			消费
			<span class="item-note" bo-bind="wish.typeDesc">
			</span>
		</a>
	
		<a class="item item-icon-left" href="javascript:void(0);">
			<i class="icon ion-person-stalker"></i>
			要求
			<span class="item-note" bo-bind="wish.wantGender">
			</span>
		</a>

		<a class="item item-icon-left detail-item" href="javascript:void(0);">
			<i class="icon ion-person"></i>
			应征者
			<div class="detail-joinlist" bo-if="wish.joinCount > 0">
				<img bo-src="person.logo" height="40" width="40" ng-repeat="person in wish.joinList track by $index">
			</div>
			<span class="badge badge-assertive" bo-bind="wish.joinCount"></span>
		</a>
		</div>
		<div class="card x-card">
			<div class="item item-text-wrap" bo-bind="wish.message">
			</div>
		</div>
		<div class="padding">
			<button class="button button-block button-assertive x-button-hasfooter" ng-click="joinWish()">
			应征
			</button>
		</div>
	</ion-content>
</ion-view>
