<ion-view title="消息列表">
	<ion-content>
		<div bindonce ng-repeat="item in items">
			<div bo-switch="item.type">
				<div bo-switch-when="1">
					<div class="card">
						<div class="item item-avatar x-item-medium-avatar x-no-padding-bottom">
							<i class="ion ion-volume-medium feed-icon-volume" bo-src="item.logo" width="84" height="84"></i>
							<h2 bo-bind="item.timedesc"></h2>
							<p><span bo-bind="item.message"></span><span bo-bind="item.summary"></span></p>
							<div>
								<button class="button button-stable button-small feed-action-button" ng-click="showDetail(item)">详情</button>
							</div>
						</div>
					</div>
				</div>
				<div bo-switch-when="2">
					<div class="card">
						<div class="item item-avatar x-item-medium-avatar x-no-padding-bottom">
							<img bo-src="item.logo" width="84" height="84">
							<h2 bo-bind="item.timedesc"></h2>
							<p><span bo-bind="item.nickname"></span><span bo-bind="item.message"></span><span bo-bind="item.summary"></span></p>
							<div>
								<button class="button button-balanced button-small feed-action-button">同意</button>
								<button class="button button-assertive button-small feed-action-button">拒绝</button>
								<button class="button button-stable button-small x-pull-right feed-action-button" ng-click="showDetail(item)">详情</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<ion-infinite-scroll distance="1%"
				on-infinite="loadMoreData()"
				ng-if="!moredata">
		</ion-infinite-scroll>
	</ion-content>
</ion-view>
