<ion-view title="电影会">
    <ion-nav-buttons side="right">
      <button class="setting-button button button-icon icon ion-gear-a" ng-click="openSettingModal()"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="setting-button button button-icon icon ion-gear-a" ng-click="openSettingModal()"></button>
    </ion-nav-buttons>
      <div class="padding publish-event">
		  <button class="button button-block button-balanced" bindonce bo-class="{'disabled': !isLogin || !profileValid}" ng-click="goPublish()">
        发起约会
        </button>
      </div>
      <ion-content has-header="true" class="x-has-tabs-footer home-content">
      <div class="list">
          <ion-nav-view></ion-nav-view>
      </div>
      </ion-content>
</ion-view>
