  <div class="card" ng-repeat="item in items">
      <div class="item item-avatar x-item-big-avatar x-no-padding-bottom">
      <img ng-src="{{item.logo}}">
      <h2>剩余13分钟有效</h2>
      <p>{{item.location}} <span class="x-small-font">{{item.location_addr}}</span></p>
      <p>{{item.wantGender}} {{item.typeDesc}}</p>
      <button class="button button-block button-small button-assertive" ng-click="goWishDetail(item)">应征</button>
      </div>
  </div>
 <ion-infinite-scroll distance="1%"
        on-infinite="loadMoreData()"
        ng-if="!moredata">
</ion-infinite-scroll>
