<div class="card x-init-hide home-message" bo-show="message" bindonce>
  <div class="item item-text-wrap x-center-text" bo-bind="message">
  </div>
</div>
<div class="card x-init-hide no-wish" ng-if="items.length <= 0" bindonce>
  <div class="item item-text-wrap x-center-text">
	  你所在的城市【<span bo-bind="city.name"></span>】暂无数据
  </div>
</div>
<div class="card x-autowrap-item" ng-repeat="item in items" ng-if="items.length > 0">
      <div class="item item-avatar x-item-big-avatar x-no-padding-bottom" bindonce>
      <img bo-src="item.logo">
	  <h2 bo-bind="item.timedesc"></h2>
	  <p><span bo-bind="item.location"></span><br/><span class="x-small-font" bo-bind="item.location_addr"></span></p>
	  <p bo-bind="item.wantGender"></p>
	  <p bo-bind="item.typeDesc"></p>
      <button class="button button-block button-small button-assertive" ng-click="goWishDetail(item)">应征</button>
      </div>
  </div>
 <ion-infinite-scroll distance="1%"
        on-infinite="loadMoreData()"
        ng-if="!moredata">
</ion-infinite-scroll>
