<div class="modal">
	<header class="bar bar-header bar-positive">
		<button class="button button-clear" ng-click="hideProfileModal()">取消</button>
		<h1 class="title">设置资料</h1>
	</header>
	<ion-content class="has-header">
	<div class="padding">
		<h4>基本资料</h4>
		<div class="list">
			<label class="item item-input item-stacked-label">
				<span class="input-label">手机号码</span>
				<input type="text" ng-model="profileData.phoneNumber" placeholder="填写真实手机号，约会成功后对方才能看到">
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">昵称</span>
				<input type="text" ng-model="profileData.nickName" placeholder="好名字可以提高成功概率噢">
			</label>
			<label class="item item-input item-select">
				<div class="input-label">
					性别
				</div>
				<select ng-model="profileData.gender" ng-options="gender.name for gender in genderList">
					<option value="">请选择性别</option></select>
			</label>
			<label class="item item-input item-select">
				<div class="input-label">
					所在城市
				</div>
				<select ng-model="profileData.city" ng-options="city.name for city in cityList"></select>
			</label>
		</div>
		<h4>形象照</h4>
		<div class="list card" ng-repeat="photo in photos">
			<div class="item item-body">
				<img class="full-image" ng-src="{{photo.url}}"></img>
			</div>
			<div class="item tabs tabs-secondary tabs-icon-left">
				<a class="tab-item" href="javascript:void(0);" ng-click="removePhoto(photo)">
					<i class="icon ion-trash-a"></i>
					删除
				</a>
				<a class="tab-item" href="javascript:void(0);" ng-click="replacePhoto(photo)">
					<i class="icon ion-chatbox"></i>
					更换
				</a>
			</div>
		</div>
	</div>
	<div class="padding">
	 <button class="button button-block button-balanced" ng-click="fillProfile()">提交资料</button>
 	</div>
	</ion-content>
</div>
